@import "null.css";

/* ========== Header ========== */

.header h1 {
   text-align: left;
   color: #1E212C;
   font-family: 'Lato';
   font-weight: 900;
   font-style: normal;
   font-size: 46px;
   line-height: 1.3;
}

/* ========== Main ========== */

.about-text.bold {
   color: #1E212C;
   font-family: 'Lato';
   font-weight: 700;
   font-style: normal;
   font-size: 20px;
   line-height: 1.5;
}

.about p {
   color: #424551;
   font-family: 'Lato';
   font-weight: 400;
   font-style: normal;
   font-size: 16px;
   line-height: 1.6;
}

/* ========== Review ========== */

.review p {
   color: #1E212C;
   font-family: 'Lato';
   font-weight: 700;
   font-style: normal;
   font-size: 20px;
   line-height: 1.5;
}

.review ul {
   color: #1E212C;
   font-family: 'Lato';
   font-weight: 700;
   font-style: normal;
   font-size: 20px;
   line-height: 1.5;
   list-style-type: none;
}

/* ========== Achievements ========== */

.company-achievements {
   color: #1E212C;
   font-family: 'Lato';
   font-weight: 400;
   font-style: normal;
   font-size: 16px;
   line-height: 1.6;
}

.list {
   list-style-type: none;
}

/* ========== Footer ========== */

.footer {
   color: #1E212C;
   font-family: 'Lato';
   font-weight: 400;
   font-style: normal;
   font-size: 16px;
   line-height: 1.6;
}